# Supabase Configuration
VITE_SUPABASE_URL=https://kblrdjxvsagdfjstchwp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtibHJkanh2c2FnZGZqc3RjaHdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxODI1OTAsImV4cCI6MjA4OTc1ODU5MH0.SA7S3BmghnpLb2lXgpfU1aZ--1nFUAWEx6Tyr2iOGm4

# EmailJS Configuration
VITE_EMAILJS_PUBLIC_KEY=1JIKXekUB57YWqsHv
VITE_EMAILJS_SERVICE_ID=service_rpi21gg
VITE_EMAILJS_TEMPLATE_ID=template_k6yvbwj

# VuotNhanh Configuration
# VuotNhanh Configuration (Old)
VITE_VUOTNHANH_API=d2ccf7ae-8029-45a8-a149-0013ec3447da
VITE_VUOTNHANH_URL=https://vuotnhanh.com/api?api=

# Uptolink Configuration (New)
VITE_UPTOLINK_API=94eeedcdf3928b7bb78a89c19bad78274a69b830
VITE_UPTOLINK_URL=https://uptolink.one/st?api=

VITE_BLOG_URL=https://xacminhnhiemvu.blogspot.com/
