# Supabase Configuration
VITE_SUPABASE_URL=https://kblrdjxvsagdfjstchwp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtibHJkanh2c2FnZGZqc3RjaHdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxODI1OTAsImV4cCI6MjA4OTc1ODU5MH0.SA7S3BmghnpLb2lXgpfU1aZ--1nFUAWEx6Tyr2iOGm4
# Resend Configuration
PUBLIC_KEY: "1JIKXekUB57YWqsHv",
SERVICE_ID: "service_rpi21gg",
TEMPLATE_ID: "template_k6yvbwj"

# hCaptcha Configuration
VITE_HCAPTCHA_SITEKEY=74289632-2ab6-47a2-9046-dd6e37b09250
HCAPTCHA_SECRET=ES_cc4c49b56626414a82adf8a814f998e0
